<!doctype html>
<html>
<head>
    <title>Важней всего погода в доме!</title>
    <link rel="stylesheet" href='{{ url_for('static', filename='weather.css') }}' type="text/css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
          google.charts.load('current', {'packages':['line'], 'language': 'ru'});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('datetime');
        data.addColumn('number');

        data.addRows([
            {% for m in data %} [new Date("{{ m.date.isoformat() + "+03:00" }}"), {{ m.P }}], {% endfor %}
        ]);

        var options = {
            legend: { position: 'none' },
            vAxis: {
                textStyle: {
                    fontSize: 25
                },
                format: '#',
                viewWindow: {
                    max: 770,
                    min: 730
                },
            },
            hAxis: {
                format: 'HH:mm',
                gridlines: 12,
            },
            titlePosition: 'none',
            width: 964,
            height: 600,
        };

        var chart = new google.charts.Line(document.getElementById('line_top_x'));

        chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>
<body>
    <div class='mAll date'>{{ "{:%H:%M}".format(recent.date) }}</div>
    <table class='mAll'><tr><td class='mTitle'>Температура</td><td class="mValue">{{ '{:.1f}'.format(recent.T) }}</td></tr></table>
    <table class='mAll'><tr><td class='mTitle'>Влажность</td><td class="mValue">{{ '{:.1f}'.format(recent.H) }}</td></tr></table>
    <table class='mAll'><tr><td class='mTitle'>Давлениe</td><td class="mValue">{{ '{:.1f}'.format(recent.P) }}</td></tr></table>


    <div id="line_top_x"></div>
</body>
</html>
